@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);

html, body {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.72222;
  color: #34495e;
  background-color: white;
  margin: 0;
  padding: 0;
  width: 100%;
}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
  font-family: inherit;
  font-weight: 300;
  line-height: 1.1;
  color: inherit;
}

h1 small,h2 small,h3 small,h4 small,h5 small,h6 small,.h1 small,.h2 small,.h3 small,.h4 small,.h5 small,.h6 small {
  color: #e7e9ec;
}

h1,h2,h3 {
  margin-top: 30px;
  margin-bottom: 15px;
}

h4,h5,h6 {
  margin-top: 15px;
  margin-bottom: 15px;
}

h6 {
  font-weight: normal;
}

h1,.h1 {
  font-size: 61px;
}

h2,.h2 {
  font-size: 53px;
}

h3,.h3 {
  font-size: 40px;
}

h4,.h4 {
  font-size: 29px;
}

h5,.h5 {
  font-size: 28px;
}

h6,.h6 {
  font-size: 24px;
}

p {
  margin: 0 0 15px;
  font-size: 18px;
  line-height: 1.72222;
  font-weight: 200;
}

.lead {
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: 300;
  line-height: 1.46428571;
  }
.headline {
  padding: 40px 0;
  margin-top: 2px;
  margin-bottom: 40px;
  font: 200 118px/1.1 "Source Sans Pro", Helvetica, Arial, sans-serif !important;
  color: #446CB3;
  text-align: center;
}

/*--- Main ----*/

header {
	text-align: center;
	height: 150px;
	width: 100%;
	background: #50bfa4;
}

.header_container {
	width: 600px;
	height: 150px;
	margin: 0 auto;
}

#header_title  {
  position: relative;
  top:45px;
  left:10px;
  font-size: 33px;
}

header #logo {
  position: relative;
  top:40px;
  left:-17px;
  width: 80px;
  height: 80px;
}

footer {
	background-color: #34495E;
	height: 300px;
}

.clear_float {
	clear: both;
}

/*--- Background Colours ----*/

.white {
	background-color: white;
}

.beige {
	background-color: #f7f6f3;
}

/*--- Text Colours ----*/

.white_text {
	color: white;
}

/*--- Input & Select Styling ----*/

input[type=text], input[type=password] {
	width: 330px;
	height: 55px;
	background-color: #eae6e2;
	-webkit-appearance:none;
	border: none;
}

input[type=submit] {
	width: 330px;
	height: 55px;
	background: #50bfa4;
	-webkit-appearance:none;
	border: none;
	color: white;
}

select {
	width: 330px;
	height: 55px;
	background: transparent;
   -webkit-appearance: none;
   -moz-appearance: none;
	border-radius: 0!important;
	border: none;
	color: white;
	padding-left: 20px;
	padding-bottom: 4px;
}

.styled-select {
	width: 330px;
	height: 55px;
	overflow: hidden;
	background: url('../images/arrow.png') no-repeat #50bfa4;
	background-position: 280px 20px;
	background-size: 26px 15px;
	border-radius: 0px;
}


/*--- Home Page ----*/

.header_home {
	margin: 0 auto;
	margin-top: -100px;
	margin-bottom: 50px;
	color: white;
	font-size: 20px;
	width: 500px;
    font-family: "Source Sans Pro", Georgia, Serif;
    font-style: italic;
} 

.header_home ul li {
	list-style: none;
	display: inline;
	padding: 30px;
}

#hunter-logo-home {
	width: 100px;
	height: 100px;
}

.main_image_container {
	width: 100%;
	height: 400px;
	background-image: url('https://farm6.staticflickr.com/5598/15738237055_8b69e77951_h.jpg');
    background-repeat: no-repeat;
    background-position:0px -200px;
    text-align: center;
    padding-top: 140px;
}

.main_image_container h1 {
	font-size: 60px;
    color: white;
    text-transform: uppercase;
}

.main_image_container p {
    color: white;
    font-size: 40px;
    font-style: italic;
    font-family: "Source Sans Pro", Georgia, Serif;
}

.welcome {
	padding-top: 70px;
	padding-bottom: 40px;
	text-align: center;
	background: white;
	font-size: 20px;
	font-weight: 200;
	color: #34495E;
}

.welcome_title {
	text-align: center;
	text-transform: uppercase;
	border-bottom: 3px solid #34495E;
	padding-bottom: 10px;
	width: 210px;
	font-weight: 400;
	font-size: 36px;
	color: #5f5f5f;
	margin: 0 auto;
	color: #34495E;
}

.white-100-percent {
	background: white;
	padding-bottom: 100px;
}

.looking_widget {
	background-color: #f7f6f3;
	height: 100px;
	width: 80%;
	min-width: 900px;
	margin: 0 auto;
}

.looking_widget_center {
	width: 900px;
	margin: 0 auto;
	height: 100px;
}

.looking_widget input[type=text] {
	float: left;
	margin-top: 22px;
	margin-bottom: 5px;
	margin-left: 30px;
	padding-left: 20px;
	background-color: white;
}

.looking_widget input[type=submit] {
	float: left;
	width: 120px;
	margin-top: 22px;
	margin-bottom: 5px;
	margin-left: 30px;
	background-color: #3498db;
}

.logins_container {
	width: 100%;
	text-align: center;
	background-color: #f7f6f3;
	padding-bottom: 150px;
}

.center_login {
	width: 900px;
	height: 300px;
	margin: 0 auto;
}

.login_box {
	background-color: white;
	width: 400px;
	height: 430px;
	float: left;
	z-index: 1;
	margin-top: -35px;
}

.login_box input[type=text], input[type=password] {
	margin-top: 20px;
	padding-left: 20px;
	background-color: #eae6e2;
	-webkit-appearance:none;
	border: none;
}

.login_box input[type=submit] {
	margin-top: 20px;
	padding-left: 20px;
	background: #50bfa4;
	-webkit-appearance:none;
	border: none;
	color: white;
}

.login-space {
	margin-left: 100px;
}

.login_header {	
	height: 70px;
	padding-top: 15px;
	padding-bottom: 8px;
	font-size: 30px;
	background: #50bfa4;
	border-bottom: 1px solid #f4f1f1;
	color: white;
	text-transform: uppercase;
}

.login_body {
	padding: 10px;
	color: #c2beb7;
}


#sign_up_button {
	width: 80px;
	height: 40px;
	padding: 0;
	background-color: white;
	color: #c2beb7;
	border: 1px solid #eae6e2;
}

.bottom_image_container {
	width: 100%;
	height: 400px;
	background-image: url('https://farm3.staticflickr.com/2925/13993578771_79a5b2fba0_k.jpg');
    background-repeat: no-repeat;
    background-position:-230px -510px;
    text-align: center;
    padding-top: 140px;
}

.bottom_image_container h1 {
	font-size: 60px;
    color: white;
    text-transform: uppercase;
}

.bottom_image_container p {
    color: white;
    font-size: 40px;
    font-style: italic;
    font-family: "Source Sans Pro", Georgia, Serif;
}

@media (max-width : 900px) {
.looking_widget input[type=text] {
	width: 290px;
	margin-left: 26.5;
}

.looking_widget input[type=submit] {
	margin-left: 26.5;
}	
		
.looking_widget {
	min-width: 805px;
}	
	
.looking_widget_center {
	width: 805px;
}
	
.center_login {
	width: 805px;
}
.login-space {
	margin-left: 5px;
}
}

@media (max-width : 805px) {

.header_home {
	width: 330px;
}

#hunter-logo-home {
	width: 50px;
	height: 50px;
}	

.header_home ul {
	padding-left: 0px;
}

.header_home ul li {
	padding: 10px;
}
	
.white-100-percent {
	padding-bottom: 70px;
}

.looking_widget input[type=text] {
	width: 400px;
	margin-left: 0;
}

.looking_widget input[type=submit] {
	width: 400px;
	margin-left: 0;
}	

.looking_widget {
	min-width: 400px;
	height: 265px;
}	
.looking_widget_center {
	width: 400px;
}	

.center_login {
	width: 400px;
}	
.login-space {
	margin-left: 0px;
	margin-top: 30px;
}	

.bottom_image_container {
    padding-top: 40px;
}	
	
}


/*------ Employee Registration Page --------*/

.registration_title {
	text-align: center;
	text-transform: uppercase;
	border-bottom: 3px solid #34495E;
	padding-bottom: 10px;
	width: 290px;
	font-weight: 400;
	font-size: 23px;
	color: #5f5f5f;
	margin: 0 auto;
	margin-top: 50px;
	color: #34495E;
}

.registration_container {
	background-color: #f7f6f3;
	margin: 0 auto;
	margin-top: 30px;
	width: 90%;
	height: 1000px;
	margin-bottom: 80px;
	max-width: 900px;
	padding-top: 40px;
}

.registration_container_center {
	width: 840px;
	margin: 0 auto;
}

.registration_inner {
	float: left;
	width: 420px;
	height: auto;
}

.registration_container .border-right {
	border-right: 1px solid #34495E;
}

.registration_sub_title {
	width: 750px;
	margin: 0 auto;
}

.registration_inner input[type="text"] {
	background: white;
	margin-left: 45px;
	margin-top: 20px;
	padding: 20px;
}

.registration_inner .styled-select {
	margin-left: 45px;
	margin-top: 20px;
}

.personal_details {
	height: 370px;
}

.date_of_birth {
	width: 750px;
	margin: 0 auto;
	height: 140px;
}

.registration_inner_dob  {
	float: left;
	width: 250px;
	height: auto;
}

.registration_inner_dob .styled-select {
	width: 230px;
	margin-left: 10px;
	background-position: 180px 20px;
}


.contact_details {
	height: 140px;
}
